# EmailJS Configuration
# Public Key (from EmailJS account -> API Keys)
VITE_EMAILJS_PUBLIC_KEY=CCMA_Y6bYwxh_MXW7
# Service ID (from EmailJS dashboard -> Email Services)
VITE_EMAILJS_SERVICE_ID=service_co19svm
# Template ID (from EmailJS dashboard -> Email Templates)
VITE_EMAILJS_TEMPLATE_ID=template_dxa0a9m
